.VideoPage{
    width: 1450px;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.related_videos{
    width: 426px;
    height: fit-content;
    margin-right: 150px ;

}

.results{
    width:90%;
    margin-left: 40px;
}

.r_extra_info{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.r_video{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    margin-right: 65px;
} */



.r_video iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}